.user {
  padding: 24px;
  box-shadow: 0 8px 52px #F3F3F3;
  border-radius: 24px;
  width: 100%;
  max-width: 350px;

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__info {
    font-size: 16px;
    color: black;
    line-height: 20px;
    letter-spacing: -0.01em;
  }

  &__change-button {
    border-radius: 16px;
    border: 1px solid #a6a6a6;
    padding: 8px;
    background: transparent;
    cursor: pointer;
    color: black;
  }

  &__delete-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

}

.textarea {
  height: 104px;
  border-radius: 15px;
  background: #F5F5F5;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  resize: none;
  border: none;
  outline: none;
  padding-left: 16px;
  padding-top: 16px;

  &:focus{
    outline: 1px solid #5C9D6D;
  }
}
.comment {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__head-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 24px;
    line-height: 25px;
  }
  &__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  &__body {
    font-size: 16px;
    line-height: 22px;
  }
}

.button {
  background: #5C9D6D;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 27px;
  position: absolute;
  right: 11px;
  bottom: 12px;
  border: none;
  cursor: pointer;
  color: white;
}

.submit-box {
  margin-top: 24px;
  width: 100%;
  position: relative;
}

.post {

  &__author {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 24px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 33px;
  }

  &__body {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 32px;
  }
}
hr{
  margin-top: 32px;
  border-radius: 7%;
  border: 1px solid #CFCFCF;
}