*{
    padding: 0;
    margin: 0;
}

.title {
    margin-top: 30px;
    margin-bottom: 30px;
}
.App {
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
}

.button_add {
    margin-top: 20px;
    border-radius: 16px;
    border: 1px solid #a6a6a6;
    padding: 8px;
    background: transparent;
    cursor: pointer;
    color: black;
}

.User-box{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
